/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {margin: 0; padding: 0;}
footer {height: 44px; border-top: 1px solid #eee; position: fixed; left: 0; bottom: 0; background: #fff; z-index: 999; width: 100%;}
footer ul {display: flex; justify-content: space-around; align-items: center; list-style: none; width: 100%;}
footer ul li {flex: 1; text-align: center;}
footer ul li div {display: block; height: 100%; color: #000;}
footer ul li div img {width: 38px; height: 26px; margin-bottom: -5px;}
footer ul li div p {font-size: 12px;}
